extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 View Attempts for #{quizname}
    p Click the button at the side of the record to view your previous attempt

    +successerror(sucmsg, errmsg)

    table#studentQuizTable.table.w-100

    include ../meta/datatables
    include ../meta/momentjs

    script.
        $(document).ready(() => {
            let table;
            table = $('#studentQuizTable').DataTable({
                ajax: '/reports/history/view/#{quizid}/data',
                dom: 'Brftilp',
                buttons: [{text: 'Go Back', action: () => window.location.href = `/reports/history`}],
                responsive: true,
                deferRender: true,
                columns: [
                    {title: "#", data: "ind"},
                    {title: "Submission ID", data: "attemptid"},
                    { title: "Start On", data: null, render: (data) => { return moment(new Date(data.createDate)).format('DD MMMM YYYY HH:mm'); }},
                    { title: "Submitted On", data: null, render: (data) => { return (data.submittedDate === null) ? "-" : moment(new Date(data.submittedDate)).format('DD MMMM YYYY HH:mm'); }},
                    { title: "Marked On", data: null, render: (data) => { return (data.markedDate === null) ? "-" : moment(new Date(data.markedDate)).format('DD MMMM YYYY HH:mm'); }},
                    {title: "Score", data: "score"},
                    {title: "Status", data: "status"},
                    {
                        title: "Actions", className: 'details-control', orderable: false, data: null,
                        render: (data) => {
                            return (data.rawStatus === 4) ? `<a href="/reports/view/${data.attemptid}/reportSE" class="btn btn-outline-secondary" data-toggle="tooltip" title="View Attempt Report" data-placement="bottom"><i class="fa fa-file-alt"></i></a>` :
                                `<a href="/reports/view/${data.attemptid}/reportSE" class="btn btn-outline-secondary disabled" aria-disabled="true" data-toggle="tooltip" title="View Attempt Report" data-placement="bottom"><i class="fa fa-file-alt"></i></a>`;

                        },
                    }
                ]
            });

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });
            table.on('draw', () => MathJax.typesetPromise());
        });
