extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 View Attempts for #{quizname} made by #{username}
    p Select an action beside the attempts for more information regarding the attempt

    +successerror(sucmsg, errmsg)

    table#studentQuizTable.table.w-100

    include ../meta/datatables
    include ../meta/momentjs

    script.
        $(document).ready(() => {
            let table;
            table = $('#studentQuizTable').DataTable({
                ajax: '/reports/attempts/#{quizid}/#{userid}/data',
                dom: 'Brftilp',
                buttons: [
                    {
                        text: 'Go Back',
                        action: () => window.location.href = `/reports/students/#{quizid}`
                    },
                    {
                        extend: 'excelHtml5',
                        filename: 'quizreport-#{un}-#{quizid}-#{courseData.code}',
                        autoFilter: true,
                        createEmptyCells: true,
                        exportOptions: {columns: ':visible:not(:last-child)'},
                        title: ''
                    },
                    {
                        extend: 'csvHtml5',
                        exportOptions: {columns: ':visible:not(:last-child)'},
                        filename: 'quizreport-#{un}-#{quizid}-#{courseData.code}'
                    },
                    {
                        extend: 'pdfHtml5',
                        filename: 'quizreport-#{un}-#{quizid}-#{courseData.code}',
                        customize: function (doc) {
                            doc.content[1].table.widths =
                                Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                        },
                        orientation: 'landscape',
                        exportOptions: {columns: ':visible:not(:last-child)'},
                        pageSize: 'A4',
                        title: `Attempt Report - #{username} - #{quizname} - [#{courseData.code}] #{courseData.name}`
                    },
                    {
                        text: 'All Attempts',
                        action: (e, dt, button) => {
                            if (table.column(7).search() === '') {
                                button.text('All Attempts');
                                table.column(7).search('true').draw();
                            } else {
                                button.text('Best Attempt Only');
                                table.column(7).search('').draw();
                            }
                        }
                    }
                ],
                responsive: true,
                deferRender: true,
                columns: [
                    {title: "#", data: "ind"},
                    {title: "Submission ID", data: "attemptid"},
                    { title: "Start On", data: null, render: (data) => { return moment(new Date(data.createDate)).format('DD MMMM YYYY HH:mm'); }},
                    { title: "Submitted On", data: null, render: (data) => { return (data.submittedDate === null) ? "-" : moment(new Date(data.submittedDate)).format('DD MMMM YYYY HH:mm'); }},
                    { title: "Marked On", data: null, render: (data) => { return (data.markedDate === null) ? "-" : moment(new Date(data.markedDate)).format('DD MMMM YYYY HH:mm'); }},
                    {title: "Score", data: "score"},
                    {title: "Status", data: "status"},
                    {title: "best", data: "best", visible: false},
                    {
                        title: "Actions",
                        className: 'details-control',
                        orderable: false,
                        data: null,
                        render: (data) => {
                            let btn = (data.rawStatus === 4) ? `<a href="/reports/view/${data.attemptid}/reportTA" class="btn btn-outline-secondary" data-toggle="tooltip" title="View Attempt Report" data-placement="bottom"><i class="fa fa-file-alt"></i></a>` :
                                `<a href="/reports/view/${data.attemptid}/reportTA" class="btn btn-outline-secondary disabled" aria-disabled="true" data-toggle="tooltip" title="View Attempt Report" data-placement="bottom"><i class="fa fa-file-alt"></i></a>`
                            btn += `<a href="/reports/manage/${data.attemptid}/remark" class="btn btn-outline-warning btn-force-remark ml-1" data-toggle="tooltip" title="Force Remark Attempt" data-placement="bottom"><i class="fa fa-marker"></i></button>` +
                                `<a href="/reports/manage/${data.attemptid}/delete" class="btn btn-outline-danger ml-1 delete-attempt" data-id="${data.attemptid}" data-toggle="tooltip" title="Delete Attempt" data-placement="bottom"><i class="fa fa-times"></i></a>`;
                            return btn;

                        },
                    }
                ]
            });

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });
            table.on('init', () => table.column(7).search('true').draw()); // Show only best attempt
            table.on('draw', () => MathJax.typesetPromise());
            table.on('click', '.delete-attempt', (e) => {if (!confirm(`Are you sure you wish to delete this attempt (ID: ${$(e.currentTarget).data('id')}) THIS CANNOT BE REVERSED!!!`)) e.preventDefault();});
        });
