extends ../layouts/plain

block content
    h1 Uploading Test Cases
    p When creating coding based questions, we allow users to be able to upload test cases with a zip file. There are some limitations in regards to what the zip file should contain however.

    h2 ZIP file format
    ul
        li It should not contain any subdirectories
        li Test Cases Files should be provided in #[b .txt] format.
            ul
                li If you have 2 test cases, the zip file should contain #[b in1.txt, in2.txt, out1.txt, out2.txt]
                li inX.txt (replacing X with a number) contains the input for the test case
                li outX.txt (replacing X with a number) contains the output for the test case
                li Optionally, also include optX.txt (replacing X with a number), which contains a comma seperated line with options for the test case. If this is not provided, default values are used instead
        li Test Cases that does not meet the format will be silently ignored
        li Test Cases with missing files will replace missing files with default blank values if not required, otherwise they will also be skipped
        li Below is an example of a zip file
    img(src='/img/testcasezip.png', width=720)

    h2 Sample Test Cases
    p Sample Test Cases consists of the following
    ul
        li Input
        li Expected Output
        li CPU Limit
        li Memory Limit
    p As a result, the zip file should contain the following files for each test cases
    table.table
        thead
            tr
                th(scope='col') Type
                th(scope='col') File Name
                th(scope='col') Description
        tbody
            tr
                td Input
                td inX.txt
                td A text file containing your input for the test case.
            tr
                td Expected Output
                td outX.txt
                td A text file containing your expected output for the test case.
            tr
                td Options
                td optX.txt
                td An optional file containing options for the test case in the following format (CPU Limit, Memory Limit)

    h2 Actual Test Cases
    p Actual Test Cases consists of the following
    ul
        li Input
        li Expected Output
        li Score
        li CPU Limit
        li Memory Limit
    p As a result, the zip file should contain the following files for each test cases
    table.table
        thead
            tr
                th(scope='col') Type
                th(scope='col') File Name
                th(scope='col') Description
        tbody
            tr
                td Input
                td inX.txt
                td A text file containing your input for the test case.
            tr
                td Expected Output
                td outX.txt
                td A text file containing your expected output for the test case.
            tr
                td Options
                td optX.txt
                td An optional file containing options for the test case in the following format (Score, CPU Limit, Memory Limit)
