extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 Select a Course
    span To view feedbacks, select a course in the following table
    +successerror(sucmsg, '')

    div#inlinepotato

    table#feedbackTable.table.w-100.clickable

    include ../meta/datatables
    include ../meta/momentjs

    script.
        $(document).ready(() => {
            let buttons = [

                ];
            let table = $('#feedbackTable').DataTable({
                ajax: '/survey/viewfbbycourses',
                dom: 'Brftilp',
                buttons: buttons,
                responsive: true,
                select: 'single',
                deferRender: true,
                columns: [
                    {title: "Code", data: "code"},
                    {title: "Name", data: "name"},
                    { title: "Start Date", data: null, render: (data) => { return moment(new Date(data.ts)).format('DD MMMM YYYY'); }},
                    { title: "End Date", data: null, render: (data) => { return (data.te) ? moment(new Date(data.te)).format('DD MMMM YYYY') : 'No End Date'; }},
                ]
            });

            table.on('draw', () => MathJax.typesetPromise())

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });

            function showDismissableAlert(type, message) {
                $('#inlinepotato').append(`<div id="myalert" class="alert ${type} alert-dismissible fade show" role="alert">
                                  ${message}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>`);
                window.setTimeout(() => {
                    $('#myalert').alert('close');
                }, 3000);
            }

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });
            table.on('select', (e,dt,type,indexes) => {
                let rowData = table.rows( indexes ).data().toArray()[0];
                window.location.href = `/survey/listfbcourses/${rowData.id}`;
            });
            table.on('draw', () => MathJax.typesetPromise())
        });
