link(href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css", rel='stylesheet', type='text/css')
script(src="https://cdn.jsdelivr.net/npm/flatpickr")

script.
    (function () {
        'use strict';
        let datechk = $('[type="datetime"]');
        if (datechk.prop('type') !== 'datetime') {
            datechk.flatpickr({enableTime: true, allowInput: true, dateFormat: 'Y-m-d H:i', altFormat: 'd/m/Y H:i', altInput: true });
        }
    })();