script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
link(href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css", rel='stylesheet', type='text/css')
script(src="/js/jquery-time-duration-picker.min.js")

script.
    (function () {
        'use strict';
        let datechk = $('[type="duration"]');
        let defVal = parseInt(datechk.parent().find('.dura-ans').val());
        if (!defVal) defVal = 0;
        if (datechk.prop('type') !== 'duration') {
            datechk.timeDurationPicker({
                seconds: true,
                years: false,
                months: false,
                defaultValue: defVal,
                onSelect: function (element, seconds, duration, text) {
                    datechk.parent().find('.dura-ans').val(seconds); // Time in seconds
                    datechk.val(text); // Human-readable duration
                }
            });
        }
    })();