link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/themes/prism.min.css', integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ==", crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/components/prism-core.min.js", integrity="sha512-hqRrGU7ys5tkcqxx5FIZTBb7PkO2o3mU6U5+qB9b55kgMlBUT4J2wPwQfMCxeJW1fC8pBxuatxoH//z0FInhrA==", crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/plugins/autoloader/prism-autoloader.min.js", integrity="sha512-Q3qGP1uJL/B0sEmu57PKXjCirgPKMbg73OLRbTJ6lfHCVU5zkHqmcTI5EV2fSoPV1MHdKsCBE7m/aS6q0pPjRQ==", crossorigin="anonymous")