mixin deleteForm(url, id, msg, name, wide)
    unless wide
        a.btn.btn-danger.float-right(href=url, id=id)= name
    else
        a.btn.btn-danger.float-right(href=url, id=id).w-100= name
    script $('##{id}').on('click', (e) => { if (!confirm(`#{msg}`))  e.preventDefault(); });