mixin testcaseupload(tcurl, modalId, datatableId)
    - let tclabel = modalId + "ZipLbl";
    - let tcInput = modalId + "Zip";
    - let tcErr = modalId + "err";
    - let tcUpload = modalId + "Upload";
    .modal.fade(tabindex="-1", aria-labelledby=modalId, aria-hidden='true', id=modalId)
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Upload Test Cases
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p= 'Use this to upload multiple test cases into the question. Please make sure that you follow the structure that is outlined '
                        a(href='/howto/testcase', target='_blank', rel='noopener noreferrer') here
                    .custom-file
                        label(for=tcInput, id=tclabel).custom-file-label Test Case ZIP file
                        input.form-control.custom-file-input(name='zipfile', type='file', accept='.zip', id=tcInput)
                        div.color-red.d-none#suErr Do you know da wae
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary(type='button', id=tcUpload) Upload
            include ../meta/customfileinput
            script.
                $("##{tcUpload}").click(() => {
                    let files = $("##{tcInput}")[0].files;
                    if (files.length > 0) {
                        let url = '#{tcurl}';
                        let file = files[0];
                        let formData = new FormData();
                        formData.append("zipfile", file, file.name);
                        $.ajax({
                            url: url,
                            type: 'POST',
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: (data) => {
                                let errmsg = $('##{tcErr}');
                                if (data.success) {
                                    $('##{tcInput}')[0].value = '';
                                    $('##{tclabel}').text('Test Case ZIP file');
                                    errmsg.addClass('d-none');
                                    $("##{modalId}").modal('hide');
                                    $('##{datatableId}').DataTable().ajax.reload();
                                } else {
                                    switch (data.code) {
                                        case 1:
                                            errmsg.text('Error occurred');
                                            break;
                                        case 2:
                                            errmsg.text('Uploaded file is not a zip file');
                                            break;
                                    }
                                    errmsg.removeClass('d-none');
                                }
                            }
                        });
                    }
                });