extends layouts/navbar


block content
    //include layouts/sidebar
    
    .container-fluid.p-0
    .side-body
        
        .row
            .col
                h1 Dashboard 
                a.btn.btn-primary.float-right(href='/editor') Go to Test Editor
        .row
            .col-lg-3.col-sm-6
                .card-box.bg-blue
                    .inner
                    h3  #{availQuizCount}
                    p  New quizzes 
                    .icon
                        i.fa.fa-clipboard-check(aria-hidden='true')
                    a.card-box-footer.stretched-link(href='#availQuizHeader')
                        | View More 
                        i.fa.fa-arrow-circle-right
            if (hasPermission("viewquizreport"))
                .col-lg-3.col-sm-6
                    .card-box.bg-green
                        .inner
                        h3  #{managedQuizCount}
                        p  Quizzes managed by you 
                        .icon
                            i.fa.fa-clipboard-list(aria-hidden='true')
                        a.card-box-footer.stretched-link(href='#managedQuizHeader')
                            | View More 
                            i.fa.fa-arrow-circle-right
        if (hasPermission("viewadmin"))
            .row
                .col-lg-3.col-sm-6
                    .card-box.bg-info
                        .inner
                        h3  Courses
                        p  Manage all the courses
                        .icon
                            i.fa.fa-chalkboard-teacher(aria-hidden='true')
                        a.card-box-footer(href='/course/list?admin=true')
                            | View More 
                            i.fa.fa-arrow-circle-right
                .col-lg-3.col-sm-6
                    .card-box.bg-orange
                        .inner
                        h3  Question Banks
                        p  Manage all the question banks
                        .icon
                            i.fa.fa-book-open(aria-hidden='true')
                        a.card-box-footer(href='/questions/list?admin=true')
                            | View More 
                            i.fa.fa-arrow-circle-right
                .col-lg-3.col-sm-6
                    .card-box.bg-red
                        .inner
                        h3  Quiz Reports 
                        p  Manage all the quiz reports
                        .icon
                            i.fa.fa-file-contract(aria-hidden='true')
                        a.card-box-footer(href='/reports/list?admin=true')
                            | View More 
                            i.fa.fa-arrow-circle-right
                .col-lg-3.col-sm-6
                    .card-box.bg-dark
                        .inner
                        h3  Users 
                        p  Manage all the users
                        .icon
                            i.fa.fa-users
                        a.card-box-footer(href='/users/list')
                            | View More 
                            i.fa.fa-arrow-circle-right
        else 
            .row
                .col-lg-3.col-sm-6
                    .card-box.bg-orange
                        .inner
                        h3  Courses
                        p  View my courses 
                        .icon
                            i.fa.fa-chalkboard-teacher(aria-hidden='true')
                        a.card-box-footer(href='/course/list')
                            | View More 
                            i.fa.fa-arrow-circle-right
                if (hasPermission("managequestions"))
                    .col-lg-3.col-sm-6
                        .card-box.bg-info
                            .inner
                            h3  Question Banks
                            p  View my question banks 
                            .icon
                                i.fa.fa-book-open(aria-hidden='true')
                            a.card-box-footer(href='/questions/list')
                                | View More 
                                i.fa.fa-arrow-circle-right
                .col-lg-3.col-sm-6
                    .card-box.bg-red
                        .inner
                        h3  Quiz Reports
                        p  View my quiz reports 
                        .icon
                            i.fa.fa-file-contract(aria-hidden='true')
                        a.card-box-footer(href='/reports/history')
                            | View More 
                            i.fa.fa-arrow-circle-right
        //divider
        hr#cardDivider

        .row
            .col
                h2.float-left#availQuizHeader Available Quizzes
        
        .row
            .col
                table#availQuizTable.table.w-100
                script.
                    $(document).ready(() => {
                        let quizTable = $('#availQuizTable').DataTable({
                            ajax: '/data/availableQuiz',
                            dom: 'Brftilp',
                            pageLength: 5,
                            lengthMenu: [5, 10, 20, 50, 100],
                            deferRender: true,
                            buttons: [{
                                text: 'Show All',
                                action: (e, dt, button) => {
                                    if (quizTable.column(5).search() === 'false') {
                                        button.text('Show Unattempted Only');
                                        quizTable.column(5).search('').draw();
                                    } else {
                                        button.text('Show All');
                                        quizTable.column(5).search('false').draw();
                                    }
                                }
                            }],
                            responsive: true,
                            columns: [
                                {title: "Quiz Name", data: "quizname"},
                                {title: "Course Name", data: "coursename"},
                                {title: "Description", data: "description"},
                                {title: "Start Time", data: null, render: (data) => {return moment(new Date(data.start)).format('DD MMMM YYYY HH:mm');}},
                                {title: "End Time", data: null, render: (data) => {return (data.end) ? moment(new Date(data.end)).format('DD MMMM YYYY HH:mm') : 'Permenant';}},
                                {title: "attempted", data: "attempted", visible: false},
                                {
                                    title: "Attempted",
                                    data: null,
                                    className: 'dt-body-center text-center',
                                    render: (data) => {
                                        return (data.attempted) ? "<i class='fad fa-check-circle text-success fa-lg'></i>" : "<i class='fad fa-times-circle text-secondary fa-lg'></i>";
                                    }
                                },
                                {
                                    title: "Actions",
                                    className: 'details-control',
                                    orderable: false,
                                    data: null,
                                    render: (data) => {
                                        return `<a href="/course/info/${data.courseid}" class="btn btn-outline-secondary" data-toggle="tooltip" title="View Course" data-placement="bottom"><i class="fa fa-book-open"></i></a>` +
                                            `<a href="/course/info/${data.courseid}/${data.quizid}/start?red=home" class="btn btn-outline-success ml-1" data-toggle="tooltip" title="Do Quiz" data-placement="bottom"><i class="fa fa-pencil"></i></a>`;
                                    },
                                }
                            ]
                        });
                        quizTable.on('draw', () => MathJax.typesetPromise());
                        quizTable.on('init', () => quizTable.column(5).search('false').draw()); // Show only active items
                        $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });
                    });
        if (hasPermission("viewquizreport"))
            //divider
            hr.dashboardDivider
            .row
                .col
                    h2#managedQuizHeader Managed Quizzes
            .row
                .col
                    table#managedQuizTable.table.w-100
                    script.
                        $(document).ready(() => {
                            let manTable = $('#managedQuizTable').DataTable({
                                ajax: '/data/managedQuiz',
                                dom: 'Brftilp',
                                pageLength: 5,
                                lengthMenu: [5, 10, 20, 50, 100],
                                deferRender: true,
                                buttons: [{
                                    text: 'Show All',
                                    action: (e, dt, button) => {
                                        if (manTable.column(5).search() === 'true') {
                                            button.text('Show Active Only');
                                            manTable.column(5).search('').draw();
                                        } else {
                                            button.text('Show All');
                                            manTable.column(5).search('true').draw();
                                        }
                                    }
                                }],
                                responsive: true,
                                columns: [
                                    {title: "Quiz Name", data: "quizname"},
                                    {title: "Course Name", data: "coursename"},
                                    {title: "Description", data: "description"},
                                    {
                                        title: "Start Time", data: null, render: (data) => {
                                            return moment(new Date(data.start)).format('DD MMMM YYYY HH:mm');
                                        }
                                    },
                                    {
                                        title: "End Time", data: null, render: (data) => {
                                            return (data.end) ? moment(new Date(data.end)).format('DD MMMM YYYY HH:mm') : 'Permenant';
                                        }
                                    },
                                    {title: "active", data: "active", visible: false},
                                    {
                                        title: "Is Active",
                                        data: null,
                                        className: 'dt-body-center text-center',
                                        render: (data) => {
                                            return (data.active) ? "<i class='fad fa-check-circle text-success fa-lg'></i>" : "<i class='fad fa-times-circle text-danger fa-lg'></i>";
                                        }
                                    },
                                    {
                                        title: "Actions",
                                        className: 'details-control',
                                        orderable: false,
                                        data: null,
                                        render: (data) => {
                                            let urls = `<a href="/course/info/${data.courseid}" class="btn btn-outline-secondary" data-toggle="tooltip" title="View Course" data-placement="bottom"><i class="fa fa-book-open"></i></a>` +
                                                `<a href="/course/info/${data.courseid}/${data.quizid}/overview" class="btn btn-outline-secondary ml-1" data-toggle="tooltip" title="Edit Quiz" data-placement="bottom"><i class="fa fa-edit"></i></a>` +
                                                `<a href="/reports/students/${data.quizid}?dashboard=1" class="btn btn-outline-secondary ml-1" data-toggle="tooltip" title="View Quiz Report" data-placement="bottom"><i class="fa fa-file-alt"></i></a>`;
                                            if (data.active) urls += `<a href="/course/info/${data.courseid}/${data.quizid}/start?red=home" class="btn btn-outline-success ml-1" data-toggle="tooltip" title="Enter Quiz" data-placement="bottom"><i class="fa fa-arrow-right"></i></a>`;

                                            return urls;
                                        },
                                    }
                                ]
                            });
                            manTable.on('draw', () => MathJax.typesetPromise());
                            manTable.on('init', () => manTable.column(5).search('true').draw()); // Show only active items
                            $("body").tooltip({selector: '[data-toggle=tooltip]', trigger: 'hover'});
                        });
        br
    include meta/momentjs
    include meta/datatables
