.col
    .card.mb-4
        .card-header Question Info
        .card-body
            ul.list-group-flush.list-group
                li.list-group-item Type: Multiple Choice Question (MCQ)
                li.list-group-item Max Score: #{data.maxscore}
                li.list-group-item Submission Limit Per Quiz: #{data.submission_limit}