extends ../layouts/plain

block content
    .text-center
        h2 Setup Page is not enabled
        p.
            The setup page is currently not enabled. To enable it, set the environment variable "SETUP". #[br]
            Please remember to remove it when setup has been completed