extends ../layouts/plain

block content
    .text-center
        h1 Setup AASP
        p Please ensure that the following information is correct. Update the config file if it is incorrect
        h2.
            #[i.fad.fa-database] MySQL Database
        ul(style='list-style-type:none')
            li Hostname: #{conf.dbConfig.host}:#{conf.dbConfig.port}
            li Username: #{conf.dbConfig.user}
            li Password: #{conf.dbConfig.password}
            li Database: #{conf.dbConfig.database}

        h2.mt-2.
            #[i.fad.fa-server] Redis Cache
        ul(style='list-style-type:none')
            li Hostname: #{conf.redisConfig.host}:#{conf.redisConfig.port}
            li Secret: #{conf.redisConfig.secret}
            li Password: #{conf.redisConfig.password}
            li TTL: #{conf.redisConfig.ttl}
            li Monitoring Mode: #{conf.redisConfig.monitorMode ? "true": "false"}

        h2.mt-2.
            #[i.fad.fa-hdd] Storage
        ul(style='list-style-type:none')
            li Endpoint: #{conf.storageConfig.endpoint}:#{conf.storageConfig.port}
            li Access Key: #{conf.storageConfig.accessKey}
            li Secret Key: #{conf.storageConfig.secretKey}
            li Bucket Region: #{conf.storageConfig.bucketRegion}
            li Bucket Public Folder: #{conf.storageConfig.bucketNamePub}
            li Bucket Secret Folder: #{conf.storageConfig.bucketName}
            li SSL Enabled: #{conf.storageConfig.useSSL ? "true" : "false"}

        h2.mt-2.
            #[i.fad.fa-heart-rate] Rate Limits
        ul(style='list-style-type:none')
            li Request Limit: #{conf.rateLimitConfig.request}
            li Period of time request attempts count: #{conf.rateLimitConfig.period} seconds
            li Blocked duration (if request exceeded): #{conf.rateLimitConfig.block} seconds

        h2.mt-2.
            #[i.fad.fa-comment-alt] Others
        ul(style='list-style-type:none')
            li TinyMCE API: #{conf.miscConfigs.tinymce}
            li OTP Expiry: #{conf.miscConfigs.otpExpiry}
            li OTP Length: #{conf.miscConfigs.otpLength}
            li Submission Queue: #{conf.miscConfigs.submissionQueue}
            li Code Queue: #{conf.miscConfigs.codeQueue}
            li MCQ Queue: #{conf.miscConfigs.mcqQueue}
            li Structured Queue: #{conf.miscConfigs.structuredQueue}
            li Math Queue: #{conf.miscConfigs.mathQueue}

        a.btn.btn-success#cont(href='/setup/continue') This information is correct
        script $('#cont').on('click', (e) => { if (!confirm("The next step will erase all data on the database #{conf.dbConfig.database} and storage folders. Are you sure you want to continue?"))  e.preventDefault(); });
