

.container-fluid.p-0
    .row
        .col
            .form-group.required
                label(for='name') Quiz Name
                input.form-control#name(type='text', placeholder='Quiz Name', required=true, name='name', value=data.name)
                div.invalid-feedback Course Name is required
        .col-3
            .form-group.required
                label(for='quizType') Quiz Type
                select.form-control#quizType(required=true, name='quizType')
                    if data.quiztype === 0
                        option(value="0", selected=true) Quiz
                    else
                        option(value="0") Quiz
                    if data.quiztype === 1
                        option(value="1", selected=true) Assignment (No Duration)
                    else
                        option(value="1") Assignment (No Duration)
                    if data.quiztype === 2
                        option(value="2", selected=true) Practice (No Duration/Attempts)
                    else
                        option(value="2") Practice (No Duration/Attempts)
        .col-3
            .form-group
                label(for='quizTotalScore') Max Score for Quiz
                input.form-control#quizTotalScore(type='number', name='quizTotalScore', step='.1', value= data.totalscore)
                div.invalid-feedback Please enter numbers up to 1 decimal place
                small#quizTotalScoreHelp.form-text.text-muted Leave blank to let the system decide
    .row
        .col
            .form-group
                label(for='desc') Quiz Description
                textarea.form-control.rich#desc(name='desc')= data.description
    .row
        .col
            .form-group
                label(for='instructions') Instructions to Quiz Takers
                textarea.form-control.rich#instructions(name='instructions')= data.preinstructions

include ../../meta/richtexteditor