include ../../components/endbeforestartvalidation

.container-fluid.m-0.mt-2.p-0
    .row
        .col
            h4 Time Settings
    .row
        .col.pr-2
            .form-group.required
                label(for='startdate') Start Time
                input.form-control#startdate(type='datetime', placeholder='dd/mm/yyyy HH:mm', required=true, name='startdate', value= data.timestart)
                div.invalid-feedback Please set start date of course
        .col
            .form-group
                label(for='enddate') End Time
                input.form-control#enddate(type='datetime', placeholder='dd/mm/yyyy HH:mm', name='enddate', value= data.timeend)
                small#enddateHelp.form-text.text-muted Can be empty for permenant course
                div.invalid-feedback Start time cannot be before End time
        .col-2.pl-5.align-self-end
            h5 Options
            .form-group.form-inline
                .form-check
                    if (data.timeend)
                        input.form-control#noend(type='checkbox', name='noend')
                        label.form-check-label.ml-2(for='noend') Permenant Quiz
                    else
                        input.form-control#noend(type='checkbox', name='noend', checked=true)
                        label.form-check-label.ml-2(for='noend') Permenant Quiz
    .row.align-items-center
        if (data.quiztype === 0)
            .col.pr-2
                .form-group
                    label(for='limit') Quiz Duration
                    input.form-control#limit(type='duration', name='timelimit')
                    input.form-control#limitSec(type='hidden', name='timelimitSec', value= data.timelimit).dura-ans
                    small#limitHelp.form-text.text-muted How long should the quiz be
        else
            input.form-control#limit(type='hidden', name='timelimit', value='')
            input.form-control#limitSec(type='hidden', name='timelimitSec', value='')
        if (data.quiztype === 0 || data.quiztype === 1)
            .col
                .form-group
                    label(for='attempts') Attempts
                    if (data.attempts && data.attempts !== -1)
                        input.form-control#attempts(type='number', name='attempts', value= data.attempts, min=1)
                    else
                        input.form-control#attempts(type='number', name='attempts', min=1)
                    small#attemptsHelp.form-text.text-muted Number of attempts for this quiz
                    div.invalid-feedback Attempts must be at least 1. Check Unlimited attempts if you do not wish to limit attempts
        else
            input.form-control#limit(type='hidden', name='timelimit', value='')
            input.form-control#limitSec(type='hidden', name='timelimitSec', value='')
        .col-2.pl-5
            if (data.quiztype === 0)
                .form-group.form-inline
                    .form-check
                        if (data.timelimit)
                            input.form-control#nolimit(type='checkbox', name='nolimit')
                            label.form-check-label.ml-2(for='nolimit') No Duration Limit
                        else
                            input.form-control#nolimit(type='checkbox', name='nolimit', checked=true)
                            label.form-check-label.ml-2(for='nolimit') No Duration Limit
            if (data.quiztype === 0 || data.quiztype === 1)
                .form-group.form-inline
                    .form-check
                        if (data.attempts && data.attempts !== -1)
                            input.form-control#unlimitAttempts(type='checkbox', name='unlimitAttempts')
                            label.form-check-label.ml-2(for='unlimitAttempts') Unlimited Attempts
                        else
                            input.form-control#unlimitAttempts(type='checkbox', name='unlimitAttempts', checked=true)
                            label.form-check-label.ml-2(for='unlimitAttempts') Unlimited Attempts

include ../../meta/datetimepicker
include ../../meta/durationpicker
+endBeforeStartValidation('startdate', 'enddate', 'End Time cannot be before Start Time', 'noend', true)
script.
    (function () {
        'use strict';

        window.addEventListener('load', () => {
            let ed = $('#enddate');
            let ne = $('#noend');
            ed.prop('disabled', (ne.prop('checked')) ? 'true' : '');
            ed.next('input').prop('disabled', (ne.prop('checked')) ? 'true' : '');
            $('#limit').prop('disabled', ($('#nolimit').prop('checked')) ? 'true' : '');
            $('#attempts').prop('disabled', ($('#unlimitAttempts').prop('checked')) ? 'true' : '');
        });

        $('#nolimit').on('change', (e) => $('#limit').prop('disabled', ($(e.target).prop('checked')) ? 'true' : ''));
        $('#unlimitAttempts').on('change', (e) => $('#attempts').prop('disabled', ($(e.target).prop('checked')) ? 'true' : ''));
    })();