extends ../layouts/navbar
include ../components/successerrorbox
include ../components/inputlengthvalidation

block content
    h1= `Editing ${editUserFullName}`
    +successerror(sucmsg, errmsg)
    form(action=`/users/edit/${user.id}`, method='post', novalidate=true).needs-validation
        .form-group.required
            label(for='username') Username
            input.form-control#username(type='text', placeholder='Username', required=true, name='username', value=user.username, pattern="[^' ']+", disabled=true, maxlength=32)
            div.invalid-feedback Please fill in a valid username
        .form-group
            label(for='password') Change New Password
            input.form-control#password(type='password', placeholder='Password',  pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+*!=]).{8,}", name='password')
            small#passwordHelp.form-text.text-muted Min 8 characters, and must have an upper and lowercase character, number and symbol
            div.invalid-feedback Please make sure your password is at least 8 characters, and contain at least an upper and lowercase character, number and symbol
        .form-group.required
            label(for='fullname') Full Name
            input.form-control#fullname(type='text', placeholder='Full Name of User', required=true, name='fullName', value=user.fullname)
            div.invalid-feedback Please fill in the full name of the user
        .form-group.required
            label(for='email') Email Address
            input.form-control#email(type='email', placeholder='Email Address (e.g TAN001@E.NTU.EDU.SG)', required=true, name='email', value=user.email)
            div.invalid-feedback Please enter a valid email address
        .form-group.required
            label(for='userrole') User Role
            select.form-control#userrole(required=true, name='userrole')
                option(hidden=true, disabled=true, selected=true, value="") Select a role
                each role in roles
                    if (role.id === user.role)
                        option(value=role.id, selected=true)= role.name
                    else
                        option(value=role.id)= role.name
            div.invalid-feedback Please select the user's role in the system
        .form-group.required
            label(for='department') Department
            select.form-control#department(required=true, name='department')
                option(hidden=true, disabled=true, selected=true, value="") Select a department
                each dept in departments
                    if (dept.id === user.department)
                        option(value=dept.id, selected=true) #{dept.fullname} (#{dept.shortname})
                    else
                        option(value=dept.id) #{dept.fullname} (#{dept.shortname})
            div.invalid-feedback Please select the user's department
        unless (user.username === loginUsername)
            .form-group.form-inline
                .form-check
                    if (user.disabled)
                        label.form-check-label.mr-2(for='disablestate') User Disabled
                        input.form-control#disablestate(type='checkbox', name='disablestate', checked=true)
                    else
                        label.form-check-label.mr-2(for='disablestate') User Disabled
                        input.form-control#disablestate(type='checkbox', name='disablestate')
        .form-group
            button.btn.btn-primary(type='submit') Update User
            a.btn.btn-danger.ml-2(href='/users/list') Cancel
        include ../meta/formvalidation
        +lengthvalidation('#username')