extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 Confirm Import
    +successerror(sucmsg, errmsg)
    .alert.alert-info(role='alert')= `Successfully parsed ${userlen} user accounts. Click Confirm to process`
    form#uploadform(action='/users/importConfirm', method='post').text-center
        input#rediskey(type='hidden', name='cachekey', value=`${dataCache}`)
        button.btn.btn-primary(type='submit') Confirm
        a.btn.btn-danger.ml-3(role='button', href='/users/import') Cancel
    if (errData.length > 0)
        h2.mt-5= `Failed to parse ${errData.length} user accounts`
        p The following accounts have not been parsed successfully. Check that your CSV file is formatted correctly with the right data in each column
        table.table
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Username
                    th(scope='col') Full Name
                    th(scope='col') Email
                    th(scope='col') Failure Reason
            tbody
            each errCell, cellNum in errData
                tr
                    th(scope='row')= cellNum+1
                    td= errCell.username
                    td= errCell.fullname
                    td= errCell.emailaddress
                    td= errCell.errorAt