extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 View Application Users
    p Note that you will only be able to view list of users on the same role or role below of you

    +successerror(sucmsg, '')

    div#inlinepotato

    table#userTable.table.w-100

    include ../meta/datatables

    script.
        $(document).ready(() => {
            let buttons = [
                {
                    extend: 'print',
                    title: `Exported User List - ${new Date().toISOString()}`
                },
                'copyHtml5',
                {
                    extend: 'excelHtml5',
                    filename: 'userlist',
                    title: ''
                },
                {
                    extend: 'csvHtml5',
                    filename: 'userlist'
                },
                {
                    extend: 'pdfHtml5',
                    filename: 'userlist',
                    orientation: 'landscape',
                    pageSize: 'A4',
                    title: `Exported User List - ${new Date().toISOString()}`
                },
                {
                    text: 'Show Enabled Only',
                    action: (e, dt, button) => {
                        if (table.column(7).search() === '0') {
                            button.text('Show All');
                            table.column(7).search('1').draw();
                        } else if (table.column(7).search() === '1') {
                            button.text('Show Enabled Only');
                            table.column(7).search('').draw();
                        } else {
                            button.text('Show Disabled Only');
                            table.column(7).search('0').draw();
                        }
                    }
                },
                {
                    text: 'New User',
                    action: () => {
                        window.location.href = '/users/adduser'
                    }
                },
                {
                    text: 'Bulk Add',
                    action: () => {
                        window.location.href = '/users/import'
                    }
                }
                ];
            if (#{!hasPermission('adduser')}) buttons.splice(5, 2);
            let table = $('#userTable').DataTable({
                ajax: '/users/userdata',
                dom: 'Brftilp',
                buttons: buttons,
                responsive: true,
                deferRender: true,
                columns: [
                    {title: "Username", data: "username"},
                    {title: "Password", data: "password"},
                    {title: "Full Name", data: "fullname"},
                    {title: "Email", data: "email"},
                    {title: "Role", data: "role"},
                    {title: "Department", data: "deptid"},
                    {
                        title: "User Enabled",
                        data: null,
                        className: 'dt-body-center text-center',
                        render: (data) => {
                            return (data.disabled.toLowerCase() === 'enabled') ? "<i class='fad fa-check-circle text-success fa-lg'></i>" : "<i class='fad fa-times-circle text-danger fa-lg'></i>";
                        }
                    },
                    {title: "enabled", data: "disint", visible: false },
                    {
                        title: "Actions",
                        className: 'details-control',
                        orderable: false,
                        data: null,
                        render: (data) => {
                            if (#{!hasPermission('edituser')} && #{!hasPermission('disableuser')}) {
                                return 'No Actions';
                            }
                            let icon = "fa-user-check";
                            let tt = "Enable User";
                            let color = 'btn-outline-success';
                            if (data.disabled.toLowerCase() === 'enabled') {
                                icon = "fa-user-times"; // Disabled icon
                                tt = "Disable User";
                                color = 'btn-outline-danger';
                            }
                            let buttons = '';
                            if (#{hasPermission('edituser')})
                                buttons += `<a href="/users/edit/${data.id}" class="btn btn-outline-secondary" data-toggle="tooltip" title="Edit User" data-placement="bottom"><i class="fa fa-user-edit"></i></a>`;
                            if (data.username !== '#{loginUsername}' && #{hasPermission('disableuser')}) {
                                // Do not allow disabling your own user
                                buttons += ` <button type='button' data-placement="bottom" class="content-disentoggle btn ${color}" data-toggle="tooltip" title="${tt}"><i class="fa ${icon}"></i></button>`;
                            }
                            return buttons;
                        },
                    }
                ]
            });

            table.on('draw', () => MathJax.typesetPromise())

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });

            function showDismissableAlert(type, message) {
                $('#inlinepotato').append(`<div id="myalert" class="alert ${type} alert-dismissible fade show" role="alert">
                                  ${message}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>`);
                window.setTimeout(() => {
                    $('#myalert').alert('close');
                }, 3000);
            }

            $('#userTable tbody').on('click', 'button.content-disentoggle', (e) => {
                let row = table.row(e.target.closest('tr')).data();
                $.ajax({
                    async: true,
                    url: `/users/toggledisable/${row.id}`,
                    method: 'PATCH',
                    success: (data) => {
                        console.log(data);
                        $('body [data-toggle=tooltip]').tooltip('hide');
                        showDismissableAlert('alert-success', `Successfully ${data.disabled ? "disabled" : "enabled"} user ${data.name}`);
                        table.ajax.reload();
                    },
                    error: (xhr, status, e) => {
                        showDismissableAlert('alert-danger', `An error occurred processing this request (${e})`);
                    }
                });
            });
        });
