extends ../layouts/navbar
include ../components/loading

block content
    .text-center
        h1 Importing User Data
        +loading()
    script.
        function poll() {
            let loadingBar = $('#loadingtext');
            $.ajax({
                url: '/users/importStatus/#{processKey}',
                dataType: 'json',
                async: true,
                success: (data) => {
                    loadingBar.text(data.status);
                    console.log(data);
                    if (data.finished) {
                        setTimeout(() => window.location.href = '/users/import?fin=#{processKey}', 5000);
                        console.log("REDIRECT HERE");
                    }
                    else setTimeout(poll,100);
                }
            })
        }
        $(document).ready(() => {poll();});
