extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 Edit #{typeName} (#{data.name})
    +successerror(sucmsg, errmsg)

    form(action=`/course/info/${courseid}/${quizid}/edit/${edittype}`, method='post', novalidate=true).needs-validation.mt-3#editConfigForm

        case edittype
            when "info"
                include ./type/basicinfo
            when "date"
                include ./type/durationsettings
            when "security"
                include ./type/quizsecurity
            when "completion"
                include ./type/quizcompletion



        button.btn.btn-primary(type='submit') Update
        a.btn.btn-danger.ml-2(href=`/course/info/${courseid}/${quizid}/overview?edit=1`) Cancel

        include ../meta/formvalidation
