extends ../layouts/iframelayout
include ../components/successerrorbox

block content
    span#typeTitle.d-none= `Edit ${typeName}`
    +successerror(sucmsg, errmsg)

    form(action=`/course/info/${courseid}/${quizid}/edit/${edittype}`, method='post', novalidate=true).needs-validation#editConfigForm
        case edittype
            when "info"
                include ./type/basicinfo
            when "date"
                include ./type/durationsettings
            when "security"
                include ./type/quizsecurity
            when "completion"
                include ./type/quizcompletion
