extends ../layouts/navbar
include ../components/successerrorbox
include ../components/editor
include ../components/loading

block content
    h1 Question #{curQnNo}/#{qlist.length}
    //h4 #{data.name}
    //input(name="attemptCountsInfo", value=attemptCounts, type="hidden")#attemptCountsInfo
    input(name="attemptCountsInfo", type="hidden")#attemptCountsInfo
    input(name="attemptLimitInfo", type="hidden")#attemptLimitInfo
    div.text-danger Do not refresh or logout while doing the quiz. Your progress may not be saved and any timer will continue running
    div.text-info.hiddenText You have reached the last question, you may browse back to previous questions or click "Submit and End Quiz" button to submit the quiz.
    a.btn.btn-danger.mb-2(href=`#`)#submitEndQuiz Submit and End Quiz
    .float-right.btn-group(role="group", aria-label="Toolbar").mb-2
        if curQnNo === "1"
            button.btn.btn-secondary(type='button', aria-disabled=true, disabled=true)#btnPrevQn.disabled #[i.far.fa-chevron-left] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prev
        else
            button.btn.btn-secondary(type='button')#btnPrevQn #[i.far.fa-chevron-left] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prev
        if curQnNo === qlist.length + ""
            button.btn.btn-secondary(type='button', disabled=true, aria-disabled=true)#btnNextQn.disabled Next&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#[i.far.fa-chevron-right]
        else
            button.btn.btn-secondary(type='button')#btnNextQn Next&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#[i.far.fa-chevron-right]

    +successerror(sucmsg, errmsg)

    //.slide-out-tab
        .slide-out-tab-peek
            .slide-out-tab-peek-text
                h6 Questions
        .modal-content.slide-out-tab-list
            .modal-header
                h5.pb-0.modal-title#updateLangModalTitle Question List
            .modal-body.p-0
                .info.pt-2.px-2 Questions with a #[i.fa.fa-check.text-success] are submitted
                .info.pb-2.px-2 Questions with a #[i.fas.fa-save.text-info] are saved
                .info.pb-2.px-2= "Total Questions in Quiz: "
                    span.font-weight-bold= qlist.length
                .list-group-flush.p-0.test-case-height
                    each qn, index in qlist
                        if curQnNo === index + 1 + ""
                            button.quiz-qn-btn.list-group-item.list-group-item-action.active(data-qnno=index+1)
                                span= `${index + 1}) ${qn.name} `
                                if qn.answer && qn.usersubmit
                                    i.fa.fa-check.text-success.test-result-icon
                                else if qn.answer
                                    i.fas.fa-save.text-info.test-result-icon
                        else
                            button.quiz-qn-btn.list-group-item.list-group-item-action(data-qnno=index+1)
                                span= `${index+1}) ${qn.name} `
                                if qn.answer && qn.usersubmit
                                    i.fa.fa-check.text-success.test-result-icon
                                else if qn.answer
                                    i.fas.fa-save.text-info.test-result-icon
            .modal-footer
                h5.font-weight-bold= "Time: "
                    if !timeLeft || timeLeft === -1
                        span Unlimited
                    else
                        span.time-remain 00:00:00

    form#quizForm
        case data.type
            when 1
                include ../questions/attempts/mcq
            when 2
                include ../questions/attempts/structured
            when 3
                include ../questions/attempts/code
    
    nav.qnsPagination(aria-label='...')
        ul.pagination.justify-content-center
            if curQnNo === "1"
                li.page-item.disabled
                    a.page-link(href='#' tabindex='-1') Previous
            else
                li.page-item
                    a.page-link#pagePrev(href='#') Previous
            - for(let i=1; i<=qlist.length;i++) 
                if(curQnNo == i)
                    li.page-item.active
                        a.page-link.unclickable #{i}
                else
                    if qlist[i-1].answer && qlist[i-1].usersubmit
                        li.page-item
                            a.page-link.ansSubmitted(href="/attempt/"+attemptid+"/qn/"+i) #{i}
                    else 
                        li.page-item
                            a.page-link(href="/attempt/"+attemptid+"/qn/"+i) #{i}
            if curQnNo === qlist.length + ""
                li.page-item.disabled
                    a.page-link(href='#') Next
            else 
                li.page-item
                    a.page-link#pageNext(href='#') Next

    include ../meta/richtexteditor
    unless !timeLeft || timeLeft === -1
        // Time limit
        script.
            function getHHMMSS(sec) {
                if (sec <= 0) return "00:00:00";
                let hrs = Math.floor(sec / 3600), min = Math.floor((sec - (hrs * 3600)) / 60), seconds = sec - (hrs * 3600) - (min * 60);
                seconds = Math.round(seconds * 100) / 100
                return (hrs < 10 ? "0" + hrs : hrs) + ":" + (min < 10 ? "0" + min : min) + ":" + (seconds < 10 ? "0" + seconds : seconds);
            }
            let timeLeft = #{timeLeft};
            let timers = $(".time-remain");
            let rechk = 0;
            function decrementAndRefresh() {
                timers.text(getHHMMSS(timeLeft));
                timeLeft--;
                rechk++;
                if (timeLeft < 600) timers.addClass("text-danger"); else timers.removeClass("text-danger");
                if (timeLeft <= 0) {
                    let currentQnNo = parseInt(#{curQnNo});
                    saveAndNavigate(currentQnNo+1, true, true, true)
                    console.log("TIMES UP")
                } else {
                    if (rechk >= 10) $.ajax({url: `/attempt/#{attemptid}/timeleft`, dataType: 'json', type: 'get', async: true, success: (timedata) => {if (timedata) { timeLeft = timedata.timeLeftSecs; }rechk = 0;}});
                    setTimeout(decrementAndRefresh, 1000);
                }
            }
            $(document).ready(() => decrementAndRefresh());

    script.
        let sot = $(".slide-out-tab");
        sot.find('.slide-out-tab-peek').click(() => sot.toggleClass('showSlideOut'));
        let leaveWithoutPrompt = false;
        function getFormData() {
            tinyMCE.triggerSave(); // Save any TINY Editor text
            let arrdata = $("#quizForm").serializeArray(), dataFin = {};
            for (let data of arrdata) {
                dataFin[data.name] = data.value;
            }
            return dataFin;
        }
        let currentQnNo = parseInt(#{curQnNo});
        let totalQns = #{qlist.length};
        function saveAndNavigate(qnNumber, usersubmit=false, nogonext=false, noprompt=false) {
            let data = getFormData();
            data.usersubmit = usersubmit;
            $.ajax({
                url: `/attempt/#{attemptid}/qn/${currentQnNo}`,
                dataType: 'json',
                type: 'post',
                data: data,
                async: true,
                success: (isSaved) => {
                    if (isSaved.success) {
                        leaveWithoutPrompt = true;
                        if ((!usersubmit && !nogonext) || (!nogonext && usersubmit && currentQnNo !== totalQns))
                            window.location.href = `/attempt/#{attemptid}/qn/${qnNumber}`;
                        else {
                            if (!noprompt) {
                                if (confirm("You are about to submit this quiz attempt. Are you sure you wish to continue?")) {
                                    window.location.href = `/attempt/#{attemptid}/submit`;}
                            }else window.location.href = `/attempt/#{attemptid}/submit`;
                        }
                    }
                }
            });
        }
        function saveAndNavigate2(qnNumber, usersubmit=false, nogonext=false, noprompt=false) {
            let data = getFormData();
            data.usersubmit = usersubmit;
            $.ajax({
                url: `/attempt/#{attemptid}/qn/${currentQnNo}`,
                dataType: 'json',
                type: 'post',
                data: data,
                async: true,
                success: (isSaved) => {
                    if (isSaved.success) {
                        leaveWithoutPrompt = true;
                        if ((!usersubmit && !nogonext) || (!nogonext && usersubmit && currentQnNo !== totalQns))
                            window.location.href = `/attempt/#{attemptid}/qn/${qnNumber}`;
                        else {
                            if (!noprompt) { //if reached last question of the quiz
                                window.scrollTo({ top: 0, behavior: 'smooth' });
                                $('.hiddenText').css("display","block");
                                // get new attempt count
                                $.ajax({ 
                                    url: `/attempt/#{attemptid}/qn/${currentQnNo}/getAttemptCounts`,
                                    dataType: 'json',
                                    type: 'post',
                                    async: true,
                                    success: (attempt) => {
                                        if(attempt.counts == undefined || attempt.counts == null ){
                                            $('#attemptCountsInfo').val(0);
                                        }else{
                                            $('#attemptCountsInfo').val(attempt.counts);
                                        }
                                        var submission_limit = parseInt($('#attemptLimitInfo').val());
                                        var submission_count = parseInt($('#attemptCountsInfo').val());
                                        var submissions_left = submission_limit - submission_count;
                                        if(submissions_left<0)
                                            submissions_left=0;
                                        if(submissions_left<=0)
                                            $('#submitQuizQn').prop('disabled', true);
                                        $('#subCount').html(submissions_left);
                                        }
                                    });
                            }else window.location.href = `/attempt/#{attemptid}/submit`;
                        }
                    }                    
                }
            });
        }
        $(".quiz-qn-btn").click((e) => {let btn = e.target.closest('button'), selQn = $(btn).data("qnno");saveAndNavigate(selQn);});
        $("#btnPrevQn").click(() => {leaveWithoutPrompt = true; window.location.href = `/attempt/#{attemptid}/qn/${currentQnNo-1}`;});
        $("#pagePrev").click(() => {leaveWithoutPrompt = true; window.location.href = `/attempt/#{attemptid}/qn/${currentQnNo-1}`;});
        $("#pageNext").click(() => {leaveWithoutPrompt = true; window.location.href = `/attempt/#{attemptid}/qn/${currentQnNo+1}`;});
        $("#btnNextQn").click(() => {leaveWithoutPrompt = true; window.location.href = `/attempt/#{attemptid}/qn/${currentQnNo+1}`;});
        $("#submitQuizQn").click(() => saveAndNavigate2(currentQnNo+1, true));
        $("#submitEndQuiz").click(() => saveAndNavigate(currentQnNo+1, true, true));
        $(window).on('beforeunload', (e) => {
            if (leaveWithoutPrompt) {
                leaveWithoutPrompt = false;
                return undefined;
            }
            e.returnValue = true;
            return "You are attempting to leave your quiz without submitting. Any quiz timer will continue to run and your submission may not be received. Are you sure you want to continue?";
        });
        $(document).ready(() => {
                $.ajax({  //get attempt counts on page load
                url: `/attempt/#{attemptid}/qn/${currentQnNo}/getAttemptCounts`,
                dataType: 'json',
                type: 'post',
                async: true,
                success: (attempt) => {
                    //for debugging attempt counts
                     if(attempt.counts == undefined || attempt.counts == null )
                         $('#attemptCountsInfo').val(0);
                     else
                         $('#attemptCountsInfo').val(attempt.counts);
                     if(attempt.limit == undefined || attempt.limit == null)
                         $('#attemptLimitInfo').val(0);
                     else
                         $('#attemptLimitInfo').val(attempt.limit);
                         
                    var attempted, attempt_limit;
                    if(attempt.counts==undefined || attempt.limit == null)
                        attempted = 0;
                    else 
                        attempted = attempt.counts;
                    if(attempt.limit==undefined || attempt.limit == null)
                        attempt_limit = 999; //default limit for submissions per day if not set
                    else 
                        attempt_limit = attempt.limit;
                    var submissions_left = ((attempt_limit-attempted)<0) ? 0 : attempt_limit-attempted;
                    $('#subCount').html(submissions_left);
                    if(attempted >= attempt_limit){ //if attempt count is more than or eq to set limit
                        $('#submitQuizQn').prop('disabled', true);
                    }


                    
                    
                }
                });
            });

