extends ../layouts/navbar
include ../components/loading

block content
    .text-center
        h1 Generating quiz
        p Generating a personalized quiz for you... Please wait...
        +loading()
    script.
        function poll() {
            let loadingBar = $('#loadingtext');
            $.ajax({
                url: '/attempt/#{processKey}/genstatus',
                dataType: 'json',
                async: true,
                success: (data) => {
                    loadingBar.text(data.statusMsg);
                    if (data.status === 1) setTimeout(() => window.location.href = '/attempt/#{processKey}/qn/1', 100); // Go to first question
                    else setTimeout(poll,1000);
                }
            })
        }
        $(document).ready(() => {poll();});
