extends ../layouts/navbar

block content
    h1= `Quiz Report for Attempt #${aid}`

    a.btn.btn-secondary.mb-2(href=`/course/info/${info.courseid}`) Back to Course

    .container-fluid.p-0
        .row
            .col
                table.table.table-bordered
                    tbody
                        tr
                            th(scope='row') Submission ID
                            td= aid
                        tr
                            th(scope='row') Quiz Name
                            td= qinfo.name
                        tr
                            th(scope='row') Course
                            td= `[${qinfo.code}] ${qinfo.coursename}`
                        tr
                            th(scope='row') Started Date
                            td= info.attemptdate
                        tr
                            th(scope='row') Submitted Date
                            td= info.submitteddate
                        tr
                            th(scope='row') Marked Date
                            td= info.markeddate
                        tr
                            th(scope='row') Score
                            unless  qinfo.showgrade === 0
                                td= `${info.score} of ${qinfo.totalscore}`
                            else
                                td Grades are hidden
        .row.mt-2
            .col
                if qinfo.studentreport === 0
                    span Report disabled
                else
                    table.table.table-bordered
                        thead
                            tr
                                th(scope="col") #
                                th(scope="col") Question
                                th(scope="col") Score
                        tbody
                            each qn, i in data
                                tr
                                    th= i+1
                                    td
                                        case qn.type
                                            when 3
                                                div !{qn.question}
                                                .card
                                                    .card-header(data-toggle="collapse", data-target=`#collapse-${i}`, aria-expanded=true, aria-controls=`collapse-${i}`) Your Answer
                                                    .collapse(id=`collapse-${i}`, aria-labelledBy=`collapse-${i}`)
                                                        .card-body
                                                            pre(class=`language-${qn.codelang}`)
                                                                code.incode(class=`lang-${qn.codelang}`) !{qn.answer}
                                                table.table-bordered.table-bordered.align-content-center.text-center.mt-2
                                                    thead
                                                        tr
                                                            th(scope="col") Total Tests
                                                            th(scope="col")
                                                                i.fa.fa-check.text-success.test-result-icon
                                                            th(scope="col")
                                                                i.fa.fa-times.text-danger.test-result-icon
                                                            th(scope="col")
                                                                i.fa.fa-exclamation-triangle.text-warning.test-result-icon
                                                    tbody
                                                        tr
                                                            td=qn.tests.total
                                                            td=qn.tests.pass
                                                            td=qn.tests.fail
                                                            td=qn.tests.error
                                            default
                                                span Unimplemented

                                    if qn.score >= qn.maxscore
                                        td.color-green= `${qn.score}/${qn.maxscore}`
                                    else
                                        td.color-red= `${qn.score}/${qn.maxscore}`

    // Back to Top
    button#toTopBtn(title="Back to Top")
        i.fa.fa-arrow-up
    script.
        $("#toTopBtn").click(() => {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        });
        $(window).on("scroll", () => {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                $("#toTopBtn").css("display", "block");
            } else {
                $("#toTopBtn").css("display", "none");
            }
        });

    // Code Templating
    include ../meta/prismjs
    script.
        $(document).ready(() => {
            $('.incode').each((e) => {Prism.highlightElement($('.incode')[e]);});
        });

