extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1= `Create new Question (${qntypeCaps})`
    +successerror('', errmsg)

    form(action=`/questions/info/${bankid}/add/${qntype}`, method='post', novalidate=true).needs-validation

        .container-fluid.p-0
            .row#gqHeader.col-grp-header
                .col
                    h4 General Question Information
                        span.float-right +
                    hr.mt-0.mb-1
            .row.collapse.col-grp-1#qnCollapse
                .col
                    .form-group.required
                        label(for='qnName') Question Name
                        input.form-control#qnName(name='qnName', required=true)
                        div.invalid-feedback Name must be filled

                    .form-group.required
                        label(for='qn') Question
                        textarea.form-control.rich#qn(name='qn', required=true)
                        div.invalid-feedback Question must be filled

                    .form-group.required
                        label(for='qnScore') Max Question Score
                        input.form-control#qnScore(type='number', name='maxScore', value=1, required=true, step='.1')
                        small#questionScoreHelp.form-text.text-muted Maximum Score possible for this question (Defaults to 1)
                    
                    .form-group.required
                        label(for='qnCount') Question Submission Limit
                        input.form-control#qnCount(type='number', name='qnCount', value=20, required=true, step='1')
                        small#questionCountHelp.form-text.text-muted Limit the number of times this question can be submitted in a quiz per day 

        case qntype
            when "code"
                include ./type/addcode
            when "structured"
                include ./type/addstruct
            when "mcq"
                include ./type/addmcq

        .mt-2
            button.btn.btn-primary(type='submit') Add Question to Question Bank
            a.btn.btn-danger.ml-2(href=`/questions/info/${bankid}`) Cancel

        include ../meta/richtexteditor
        include ../meta/formvalidation
        script $(() => $('[data-toggle="tooltip"]').tooltip());
        script $('#gqHeader').click(() => {$(".col-grp-1").collapse('hide'); $("#qnCollapse").collapse('show');$('.collapse-btn-adv').show();updateExp('#gqHeader',true);});
        script.
            function postFormCheckCallback(success, event) {
                if (typeof innerFormValidation === "function") success = innerFormValidation(success);
                if (!success) {
                    $('.col-grp-1').collapse('show');
                    $('.collapse-btn-adv').hide();
                    updateExp('.col-grp-header', true);
                    setTimeout(() => alert("There are incomplete/invalid fields found highlighted in red or no correct answers inserted. You must resolve them before you can create this question"), 200);
                    event.preventDefault();
                    event.stopPropagation();
                }
            }
        script function updateExp(id, isActive) { $('.col-grp-header').find('span').text('+'); $(id).find('span').text((isActive) ? '-' : '+'); }
        script $(document).ready(() => {$("#qnCollapse").collapse('show');updateExp('#gqHeader',true);});

