extends ../layouts/navbar
include ../components/successerrorbox
include ../components/deleteform

block content
    h1= `Clone Question (${qntypeCaps})`
    +successerror('', errmsg)

    form(action=`/questions/info/${bankid}/add/${qntype}`, method='post', novalidate=true).needs-validation

        input.form-control#redirect(name='redirect', value=isred, type='hidden')

        .container-fluid.p-0
            .row#gqHeader.col-grp-header
                .col
                    h4 General Question Information
                        span.float-right +
                    hr.mt-0.mb-1
            .row.collapse.col-grp-1#qnCollapse
                .col
                    .form-group.required
                        label(for='qnName') Question Name
                        input.form-control#qnName(name='qnName', required=true, value=data.name)
                        div.invalid-feedback Name must be filled

                    .form-group.required
                        label(for='qn') Question
                        textarea.form-control.rich#qn(name='qn', required=true)= data.question
                        div.invalid-feedback Question must be filled

                    .form-group.required
                        label(for='qnScore') Max Question Score
                        input.form-control#qnScore(type='number', name='maxScore', value=data.maxscore, required=true, step='.1')
                        small#questionCountHelp.form-text.text-muted Maximum Score possible for this question (Defaults to 1)
                    
                    .form-group.required
                        label(for='qnCount') Question Submission Limit
                        input.form-control#qnCount(type='number', name='qnCount', value=data.submission_limit, required=true, step='1')
                        small#questionCountHelp.form-text.text-muted Limit the number of times this question can be submitted in a quiz per day 

        case qntype
            when "code"
                include ./type/editcode
            when "structured"
                include ./type/editstruct
            when "mcq"
                include ./type/editmcq

        .mt-2
            button.btn.btn-primary(type='submit') Clone Question
            if (isred === 'qninfo')
                a.btn.btn-danger.ml-2(href=`/questions/info/${bankid}/qninfo/${qnid}`) Cancel
            else
                a.btn.btn-danger.ml-2(href=`/questions/info/${bankid}`) Cancel

        include ../meta/richtexteditor
        include ../meta/formvalidation
        script $(() => $('[data-toggle="tooltip"]').tooltip());
        script $('#gqHeader').click(() => {$(".col-grp-1").collapse('hide'); $("#qnCollapse").collapse('show');$('.collapse-btn-adv').show();updateExp('#gqHeader',true);});
        script.
            function postFormCheckCallback(success, event) {
                if (typeof innerFormValidation === "function") success = innerFormValidation(success);
                if (!success) {
                    $('.col-grp-1').collapse('show');
                    $('.collapse-btn-adv').hide();
                    updateExp('.col-grp-header',true);
                    setTimeout(() => alert("There are incomplete/invalid fields found highlighted in red or the mcq configurations are not fufilled. You must resolve them before you can continue updating this question"), 200);
                    event.preventDefault();
                    event.stopPropagation();
                }
            }
        script function updateExp(id, isActive) { $('.col-grp-header').find('span').text('+'); $(id).find('span').text((isActive) ? '-' : '+'); }
        script $(document).ready(() => {$("#qnCollapse").collapse('show');updateExp('#gqHeader',true);});

