extends ../layouts/navbar
include ../components/successerrorbox
include ../components/editor
include ../components/loading

block content
    h1 Test Code Question (#{data.name})
    a.btn.btn-secondary.mb-2(href=`/questions/info/${data.questionbankid}/qninfo/${data.id}`) Go Back
    +successerror(sucmsg, errmsg)

    include attempts/code
